!!! HTML
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:"http-equiv" => "X-UA-Compatible", :content => "IE=Edge,chrome=1"}
    %title PicasaView
    = csrf_meta_tags
    = stylesheet_link_tag :application, :media => "all"
  %body
    = render :partial => 'pages/main_menu'

    %div.container-fluid
      = bootstrap_flash

      %div.row-fluid
        %div.span12
          = yield

      %footer
        %hr
        %p{:style => 'text-align:center'} &copy; PicasaView 2012. Author: Bogdan Kulbida.

    = javascript_include_tag "application"